.stickyContainer {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 5;
  transition: 0.5s ease all;
}

.header {
  padding: 1.25rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid var(--neutral-200);
  transition: 0.5s ease all;
}

.hamburgerButton {
  background: none;
  border: none;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-self: start;
}

.hamburgerIcon {
  color: var(--blue-700);
  height: 30px;
  width: 30px;
  transition: 0.5s ease all;
}

.headerLogoLink {
  justify-self: center;
  align-self: center;
}

.headerLogo {
  display: block;
}

.headerPhoneButton {
  justify-self: right;
  color: var(--blue-700);
  background: none;
  padding: 0.2rem;
  border: none;
  align-self: center;
  display: flex;
  align-items: center;
  transition: 0.5s ease all;
}

/* Items hidden in mobile view */
.largeNav {
  display: none;
}

.contactButton {
  display: none;
}

/* Dark mode */
.dark.stickyContainer,
.dark .header {
  background-color: black;
  transition: 0.5s ease all;
}

.dark .header {
  border-bottom: 1px solid rgb(248, 250, 252, 0.2);
  transition: 0.5s ease all;
}

.dark .hamburgerIcon,
.dark .headerPhoneButton,
.dark .largeNavLink {
  color: var(--text-light);
  transition: 0.5s ease all;
}

.dark .headerLogo {
  filter: invert(0.1);
  transition: 0.5s ease all;
}

@media (min-width: 768px) {
  /* Items hidden in larger views */
  .hamburgerButton {
    display: none;
  }

  .headerPhoneButton {
    display: none;
  }

  /* End Items Hidden */

  .header {
    padding: var(--section-pd);
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* padding: 2rem 1.5rem; */
  }

  .headerLogoLink {
    justify-self: left;
  }

  .largeNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .largeNavLink {
    text-decoration: none;
    color: var(--text-dark);
    font-size: 0.875rem;
    text-transform: capitalize;
    letter-spacing: 0.12rem;
    font-weight: 400;
    display: block;
    padding-top: 0.1rem;
    transition: 0.5s ease all;
  }

  /* .largeNavDropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: none;
    background: none;
    padding: none;
    position: relative;
    cursor: pointer;
    font-size: 0.875rem;
    text-transform: capitalize;
    letter-spacing: 0.12rem;
    font-weight: 400;
    padding-top: 0.1rem;
  } */

  .largeNavLink:hover,
  .largeNavDropdown:hover {
    color: var(--blue-700);
  }

  .largeNavLink:focus,
  .largeNavDropdown:focus {
    /* color: var(--blue-700); */
    outline-color: var(--blue-700);
  }

  /* .arrow {
    transition: 0.2s ease all;
  }

  .arrowUp {
    transform: rotate(180deg);
    transition: 0.2s ease all;
  }

  .navDropdownLinksContainer {
    position: absolute;
    top: calc(100% + 2.5rem);
    right: 0;
    padding: 1rem;
    background-color: var(--neutral-50);
    border-radius: var(--border-radius-sml);
    transition: 0.2s ease all;
  }

  .subLinkContainer {
    width: 150px;
    border-bottom: 1px solid var(--neutral-200);
  }

  .subLink {
    padding: 0.5rem;
    display: block;
    text-decoration: none;
    color: var(--text-dark);
    font-size: 0.875rem;
    text-transform: capitalize;
  }

  .subLink:hover,
  .subLink:focus {
    background-color: var(--blue-100);
  }

  .subLinkContainer:last-of-type {
    border-bottom: none;
  } */

  .contactButton {
    display: block;
    justify-self: end;
    /* padding: 0.6rem 0.75rem 0.5rem 0.75rem;
    background-color: var(--blue-700);
    border-radius: var(--border-radius-lrg);
    text-decoration: none;
    color: var(--text-light);
    font-weight: 400; */
    /* text-transform: ; */
  }
}

@media (min-width: 1024px) {
  .header {
    max-width: 1444px;
    margin: 0 auto;
  }

  .largeNavLink {
    font-size: 1rem;
  }

  .largeNavDropdown {
    font-size: 1rem;
  }
}

@media (min-width: 1444px) {
}
