.servicesSection {
  padding: 0 1em;
  margin: 0 auto;
  max-width: 1444px;
  margin-bottom: var(--section-mg-bottom);
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10rem;
}

@media (min-width: 768px) {
  .servicesSection {
    padding: 0 1.5rem;
  }
}
