.bannerSection {
  /* border-radius: var(--border-radius-lrg); */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
  box-shadow: var(--shadow-mid);
  /* margin: 5rem 1rem; */
  aspect-ratio: 500/300;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  padding: 2rem;
  margin-bottom: var(--section-mg-bottom);
}

.bannerImg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (min-width: 768px) {
  .bannerSection {
    border-radius: var(--border-radius-lrg);
    margin: var(--section-pd);
    aspect-ratio: 700/300;
    margin-bottom: var(--section-mg-bottom);
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1444px) {
  .bannerSection {
    max-width: calc(1444px - 3rem);
    margin: 10rem auto;
    margin-bottom: var(--section-mg-bottom);
  }
}
