.formGroup {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.formLabel {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.formInput {
  padding: 0.5rem 1rem;
  border: 1px solid var(--neutral-300);
  border-radius: 0.25rem;
  font-size: 1rem;
  color: var(--gray-700);
  background-color: var(--neutral-100);
  cursor: pointer;
}

.formInput:focus {
  outline-color: var(--blue-700);
}

.errorText {
  color: var(--error-red-600);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
