.pageHeader {
  /* overflow: hidden; */
  position: relative;
  max-width: 1444px;
  margin: 0 auto;
}

.imgContainer {
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.headerImg {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.headerContentContainer {
  background-color: white;
  /* background-color: var(--neutral-50); */
  padding: 3rem 1rem;
  margin-right: 2rem;
  position: relative;
  top: -80px;
}

.headerTitle {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  font-size: 4rem;
  font-weight: 700;
  color: var(--neutral-300);
  text-wrap: nowrap;
}

.headerSubtitle {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--blue-700);
}

@media (min-width: 768px) {
  .pageHeader {
    padding: var(--section-pd);
    margin-bottom: var(--section-mg-bottom);
  }

  .headerContentContainer {
    position: absolute;
    margin-left: 6rem;
    margin-right: 0;
    top: unset;
    bottom: -2px;
    padding: 5rem 4rem 0 4rem;
  }

  .headerTitle {
    font-size: 6.5rem;
  }

  .headerSubtitle {
    font-size: 2.3rem;
    margin-bottom: 1rem;
    max-width: 600px;
  }

  .headerDescription {
    max-width: 600px;
  }
}

@media (min-width: 1024px) {
  .imgContainer {
    /* padding-right: 40%; */
    width: 50%;
    aspect-ratio: 4/3;
  }

  .headerContentContainer {
    margin-left: 40%;
    top: 30%;
    padding-left: calc(10% - 1.5rem);
  }

  .headerTitle {
    left: 0;
    color: var(--neutral-300);
  }
}

@media (min-width: 1444px) {
  .headerTitle {
    font-size: 9rem;
  }

  .headerSubtitle {
    font-size: 3rem;
  }

  .headerDescription {
    font-size: 1.5rem;
  }
}

@media (min-width: 1444px) {
  .imgContainer {
    aspect-ratio: 5/3;
  }
}
