.faqSection {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1444px;
  margin-bottom: var(--section-mg-bottom);
}

.faqHeader {
  margin-bottom: 3rem;
}

.faqTitle {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: var(--text-dark);
}

.faqDescription {
  opacity: 0.6;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .faqSection {
    padding: var(--section-pd);
  }
  .faqTitle {
    font-size: 3rem;
  }

  .faqDescription {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .faqSection {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .faqHeader {
  }

  .faqTitle {
    text-align: left;
  }

  .faqDescription {
    text-align: left;
    margin: 0;
  }
}
